body {
    padding-top: 7rem;
}

pre.prettyprint
{
    border: none;
}

pre
{
    font-family: Consolas,Monaco,'Andale Mono',monospace !important;
    border: none !important;
    background: none !important;
    overflow: inherit !important;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, post millennium */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.navbar-default
{
    background-color: #fb503b;
}

.navbar-default .navbar-brand
{
    color: #fff;
}

.navbar-default .navbar-nav>li>a
{
    color: #fff;
}


.panel-default>.panel-heading
{
    border-bottom: none;
    background-color: #F9F9F9;
}

.panel-default>.panel-heading>h3
{
    color: #fb503b !important;
    font-weight: bold;
    font-size: 20px;
}

.panel-body
{
    background-color: #F9F9F9;
}


.com
{
    color: #999 !important;
}

.typ
{
    color: #fb503b !important;
}

.kwd
{
    color: #555 !important;
}